::-webkit-input-placeholder {
  color: #999;
}

:-moz-placeholder {
  /* Firefox 18- */
  color: #999;
}

::-moz-placeholder {
  /* Firefox 19+ */
  color: #999;
}

:-ms-input-placeholder {
  color: #999;
}

input[type=text],
input[type=password],
textarea,
select {
  background-color: transparent;
  border: 1px solid #999;
  border-radius: 2px;
  outline: none;
  height: 3rem;
  font-size: 1rem;
  margin: 0;
  padding: 0 0.5rem;
  box-sizing: content-box;
}

input[type=text],
input[type=password],
textarea {
  -webkit-appearance: none;
}

input[readonly] {
  border-color: #ccc;
}

textarea {
  height: auto;
  padding: 0.5rem;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
}

select::-ms-expand {
  border: none;
  background-color: transparent;
}

select {
  margin-top: 2px;
}

input[type=text]:focus:not([readonly]),
input[type=password]:focus:not([readonly]),
textarea:focus:not([readonly]),
select:focus:not([readonly]) {
  border: 1px solid #579;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.5), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.5), 0 0 8px rgba(102, 175, 233, 0.6);
}

.add-clear-span {
  border: 1px solid transparent;
}

button:focus {
  outline: none;
  background-color: #2ab7a9;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  margin: 0;
  padding: 0.5rem 0;
  list-style-type: none;
}

li ul {
  margin: 0.5rem 0 0 1rem;
}

small {
  font-size: 0.9rem;
  color: #999;
}

h1, h2, h3 {
    margin: 0;
    padding: 0;
    font-weight: normal;
    color: black;
}

h1 {
    margin: 1rem 0;
    font-size: 2rem;
    color: steelblue;
}

h2 {
  margin: 0.5rem 0;
  font-size: 1.6rem;
  color: tomato;
}

h3 {
  margin: 0.3rem 0;
  font-size: 1.4rem;
  color: slateblue;
}

h1 a, h2 a, h3 a {
  color: black;
}

h1 b, h2 b, h3 b {
  font-weight: normal;
  color: #000;
}

a {
  color: #369;
  text-decoration: underline;
}

form p {
  margin: 0.5rem 0;
  text-align: left;
}

form p:last-child {
  margin-bottom: 0;
}

form p label {
  margin: 0;
  padding: 0;
}

form p label small {
  display: inline;
  margin: 0;
  padding: 0;
}

/***************
  Radio Buttons
***************/

/* Remove default Radio Buttons */
[type="radio"]:not(:checked),
[type="radio"]:checked {
  position: absolute;
  left: -9999px;
  visibility: hidden;
}

[type="radio"]:not(:checked) + label,
[type="radio"]:checked + label {
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  display: inline-block;
  height: 25px;
  line-height: 25px;
  font-size: 1rem;
  transition: .28s ease;
  /* webkit (konqueror) browsers */
  -webkit-user-select: none;
   -moz-user-select: none;
    -ms-user-select: none;
      user-select: none;
}

[type="radio"] + label:before,
[type="radio"] + label:after {
  content: '';
  position: absolute;
  left: 0;
  top: -1px;
  margin: 4px;
  width: 16px;
  height: 16px;
  z-index: 0;
  transition: .28s ease;
}

/* Unchecked styles */
[type="radio"]:not(:checked) + label:before {
  border-radius: 50%;
  border: 2px solid #5a5a5a;
}

[type="radio"]:not(:checked) + label:after {
  border-radius: 50%;
  border: 2px solid #5a5a5a;
  -webkit-transform: scale(0);
      transform: scale(0);
}

/* Checked styles */
[type="radio"]:checked + label:before {
  border-radius: 50%;
  border: 2px solid transparent;
}

[type="radio"]:checked + label:after {
  border-radius: 50%;
  border: 2px solid #26a69a;
  background-color: #26a69a;
  z-index: 0;
  -webkit-transform: scale(1.02);
      transform: scale(1.02);
}

/* Disabled style */
[type="radio"]:disabled:not(:checked) + label:before,
[type="radio"]:disabled:checked + label:before {
  background-color: transparent;
  border-color: rgba(0, 0, 0, 0.26);
}

[type="radio"]:disabled + label {
  color: rgba(0, 0, 0, 0.26);
}

[type="radio"]:disabled:not(:checked) + label:before {
  border-color: rgba(0, 0, 0, 0.26);
}

[type="radio"]:disabled:checked + label:after {
  background-color: rgba(0, 0, 0, 0.26);
  border-color: #BDBDBD;
}

/***************
   Checkboxes
***************/

/* Remove default checkbox */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
  visibility: hidden;
}

[type="checkbox"] {
  /* checkbox aspect */
}

[type="checkbox"] + label {
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  display: inline-block;
  height: 25px;
  line-height: 25px;
  font-size: 1rem;
  -webkit-user-select: none;
  /* webkit (safari, chrome) browsers */
  -moz-user-select: none;
  /* mozilla browsers */
  -khtml-user-select: none;
  /* webkit (konqueror) browsers */
  -ms-user-select: none;
  /* IE10+ */
}

[type="checkbox"] + label:before {
  content: '';
  position: absolute;
  top: -1px;
  left: 0;
  width: 18px;
  height: 18px;
  z-index: 0;
  border: 2px solid #5a5a5a;
  border-radius: 1px;
  margin-top: 2px;
  transition: .2s;
}

[type="checkbox"]:not(:checked):disabled + label:before {
  border: none;
  background-color: rgba(0, 0, 0, 0.26);
}

[type="checkbox"]:checked + label:before {
  top: -3px;
  left: -4px;
  width: 10px;
  height: 18px;
  border-top: 2px solid transparent;
  border-left: 2px solid transparent;
  border-right: 2px solid #26a69a;
  border-bottom: 2px solid #26a69a;
  -webkit-transform: rotate(40deg);
      transform: rotate(40deg);
  -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
  -webkit-transform-origin: 100% 100%;
      transform-origin: 100% 100%;
}

[type="checkbox"]:checked:disabled + label:before {
  border-right: 2px solid rgba(0, 0, 0, 0.26);
  border-bottom: 2px solid rgba(0, 0, 0, 0.26);
}

[type="checkbox"].indeterminate + label:before {
  top: -11px;
  left: -12px;
  width: 10px;
  height: 22px;
  border-top: none;
  border-left: none;
  border-right: 2px solid #26a69a;
  border-bottom: none;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform-origin: 100% 100%;
          transform-origin: 100% 100%;
}

[type="checkbox"].indeterminate:disabled + label:before {
  border-right: 2px solid rgba(0, 0, 0, 0.26);
  background-color: transparent;
}

/* Common */

.dnone {
  display: none;
}

.dashed {
  border-bottom: 1px dashed #000;
}

.hand {
  cursor: pointer;
}

.left {
  float: left;
}

.right {
  float: right;
}

/* Forms */

form {
  margin: 1rem 0;
}

form .row {
  margin: 1rem 0;
}

form .row.submit {
  margin: 2rem 0 1rem 0;
}

form input[type="text"],
form input[type="password"],
form textarea {
  margin-top: 0.2rem;
}

form input[type="text"],
form input[type="password"] {
  width: 20rem;
}

form input[type="text"]:focus:not([readonly]) {
  border: 1px solid #999;
  background-color: white;
}

form textarea {
  width: 30rem;
}

form input.date {
  width: 6rem;
}

form input.time {
  width: 1.5rem;
  text-align: center;
}

form input.number {
  width: 8rem;
}

form input.one {
  width: 10rem;
}

/* Buttons */

.btn {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  border: none;
  border-radius: 2px;
  height: 3rem;
  line-height: 3rem;
  font-size: 1rem;
  outline: 0;
  padding: 0 2rem;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
  background-color: #26a69a;
  color: #fff;
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: none;
  cursor: pointer;
}

div.error {
    display: table;
    margin-bottom: 1rem;
    padding: 1rem 2rem;
    border-radius: 2px;
    background-color: crimson;
    color: white;
    font-weight: bold;
}

div.errors {
    display: table;
    margin-bottom: 1rem;
    padding: 1rem 2rem;
    border-radius: 2px;
    background-color: crimson;
    color: white;
    font-weight: bold;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    line-height: 1.5;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: normal;
    background-color: antiquewhite;
    color: black;
    overflow-y: scroll;
}

body > div.container {
    margin: 1rem auto;
    width: 60rem;
    height: auto;
    min-height: 100%;
    box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.18), 0 2px 11px 0 rgba(0, 0, 0, 0.15);
    border: none;
    background-color: white;
    padding: 0;   
}

nav {
    display: block;
    height: 5rem;
    line-height: 5rem;
    vertical-align: middle;
    border-bottom: 1px solid #ccc;
    padding: 0 2rem;
}

nav logo {
    font-size: 1.8rem;
    color: slateblue;
}

nav logo .fa {
    margin-right: 1rem;
}

nav user {
    display: block;
    float: right;
    font-size: 1.2rem;
}

main {
    display: block;
    padding: 2rem;
    font-size: 1.2rem;
}

footer {
    display: block;
    height: 5rem;
    line-height: 5rem;
    vertical-align: middle;
    border-top: 1px solid #ccc;
    background-color: white;
    padding: 0 2rem;
    font-size: 1rem;
}

footer .right {
  margin-left: 2rem;
}

footer .right a {
    color: black;
}

footer .right .fa {
    margin-right: 0.5rem;
}

.row.complete {
  margin-bottom: 1rem;
  border: 2px solid #ccc;
  border-radius: 5px;
  padding: 1rem;
  font-size: 1.2rem;
}

.row.complete.correct {
  border-color: limegreen;
}

.row.complete.incorrect {
  border-color: crimson;
}

.row.complete .fa {
  width: 1rem;
  margin-right: 0.5rem;
}

.row.complete .empty {
  display: inline-block;
  width: 1rem;
  margin-right: 0.5rem;
}

.correct-answer {
  font-weight: bold;
  color: green;
}

.incorrect-answer {
  font-weight: bold;
  color: crimson;
  text-decoration: line-through;
}

/* Overwrite */

.fa-spin {
  -webkit-animation: fa-spin 1s infinite linear;
  animation: fa-spin 1s infinite linear;
}
