.photo-container {
    margin: 1rem 0;
    clear: both;
}

.photo-container .block {
    position: relative;
    float: left;
    margin-right: 2rem;
    margin-bottom: 2rem;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 2px;
    box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.18), 0 2px 11px 0 rgba(0, 0, 0, 0.15);
    padding: 0.5rem;
    background-color: #cde;
}

.photo-container .block .close {
    position: absolute;
    top: 0;
    right: 0;
    width: 2rem;
    height: 2rem;
    font-size: 1.5rem;
    background-color: rgba(10, 20, 30, 0.3);
    color: white;
    padding: 0;
    cursor: pointer;
}

.photo-container .block .close:hover {
    background-color: rgba(185, 10, 10, 0.6);
}

.photo-container .block img {
    max-height: 10rem;
    width: auto;
    margin-bottom: 0.25rem;
}