.statistics h2 {
    color: black;
}

.statistics ul {
    margin-bottom: 2rem;
}

.statistics ul > li {
    margin: 0.25rem 0;
    padding: 0;
}

.statistics .correct {
    font-weight: bold;
    color: green;
}

.statistics .incorrect {
    font-weight: bold;
    color: red;
}

.statistics .red {
    font-weight: bold;
    color: crimson;
}