.leaf.welcome {
    width: 80rem;
}
  
.main .leaf.welcome .elements {
    width: 40rem;
}

.welcome small {
    color: #357;
    font-size: 0.8rem;
}

.welcome .h2 a {
    color: navy;
}

.welcome .correct {
    font-weight: bold;
    color: green;
}

.welcome .incorrect {
    font-weight: bold;
    color: red;
}

.welcome .red {
    font-weight: bold;
    color: crimson;
}